NEXT_PUBLIC_SUPABASE_URL=https://efinwumrydpynsdflfnl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmaW53dW1yeWRweW5zZGZsZm5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1ODQ1MzMsImV4cCI6MjA5NjE2MDUzM30.2RypH1lJv0U-sGzZ15F3PVyqEbGB7rw4JTmLzHuJDu0
